<!-- header.liquid.start -->

{%- assign cartDrawer = false -%}
{%- for block in section.blocks -%}
  {%- if block.type == 'cart' -%}
    {%- assign cartDrawer = true -%}
  {%- endif -%}
{%- endfor -%}

{% if section.settings.message %}
  <style>
    {% if section.settings.logo != blank %}
      .site-header__logo-image {
        max-width: {{ section.settings.logo_max_width | escape }}px;
      }
    {% endif %}

    {% if section.settings.align_logo == 'left' %}
      .site-header__logo-image {
        margin: 0;
      }
    {% endif %}
  </style>
{% endif %}

<style>
{%- if section.settings.logoType == 'img' and section.settings.logoImg -%}
{%- assign img_w = section.settings.logo_max_width | append: 'px' -%}
{%- assign img_h = section.settings.logo_max_width | divided_by: section.settings.logoImg.aspect_ratio | append: 'px' -%}
{%- assign img_max_w = '50' -%}
{%- assign img_max_h = img_max_w | divided_by: section.settings.logoImg.aspect_ratio | append: 'vw' -%}

.headerLogo-image {
  width: {{ img_w }};
  height: {{ img_h }};
  max-width: {{ img_max_w }}vw;
  max-height: {{ img_max_h }};
}
{% endif -%}

{%- if section.settings.sticky == true %}
.header-sticky {
  position: sticky;
  top: 0;
  z-index:15;
}
{% endif -%}
</style>

<div data-section-id="{{ section.id }}" data-section-type="header-section" data-header-section>
  {% if section.settings.message %}
    {% if section.settings.home_page_only == false or request.page_type == 'index' %}
      <style>
        .announcement-bar {
          background-color: {{ section.settings.color_bg }};
        }

        .announcement-bar__link:hover {
          {% assign brightness = section.settings.color_bg | color_brightness %}

          {% if brightness <= 192 %}
            {% assign lightenAmount = 255 | minus: brightness | divided_by: 255 | times: 16 %}
            background-color: {{ section.settings.color_bg | color_lighten: lightenAmount }};
          {% else %}
            {% assign darkenAmount = 255 | divided_by: brightness | times: 8 %}
            background-color: {{ section.settings.color_bg | color_darken: darkenAmount }};
          {% endif %}
        }

        .announcement-bar__message {
          color: {{ section.settings.color_text }};
        }
      </style>

      <div class="announcement-bar" role="region" aria-label="{{ 'sections.header.announcement_bar_label' | t }}">
        {%- unless section.settings.message_link == blank -%}
          <a href="{{ section.settings.message_link }}" class="announcement-bar__link">
        {%- endunless -%}
            <p class="announcement-bar__message">{{ section.settings.message_text | escape }}</p>
        {%- unless section.settings.message_link == blank -%}
          </a>
        {%- endunless -%}
      </div>

    {% endif %}
  {% endif %}

  <header class="relative z-10 h-[max-content] w-full px-2 py-4 bg-white border-b border-gray-300 shadow-md min-h-26 md:min-h-20 md:px-4 {%- if section.settings.glassMorph %} bg-opacity-70 backdrop-filter backdrop-blur border-white border-opacity-20{%- endif -%}">
    <div class="flex items-center max-w-screen-lg mx-auto align-middle">
      <div class="flex-none order-first w-20 text-center md:hidden">
        <a href="#mobileMenu">
        <button class="px-6 py-6 focus:ring-0" \
           @click.prevent="menuOpen = true">
          <svg class="block w-8 h-8 mx-auto icon"><use xlink:href="#icon-menu"></use></svg>
          <span class="block mx-auto">Menu</span>
        </button>
        </a>
      </div>
      <a href="{{ routes.root_url }}" class="flex-auto order-2 w-8 text-xl font-semibold tracking-widest text-center break-word md:order-first">
        {%- case section.settings.logoType -%}
          {%- when 'none' -%}
            <h1 class="">
              {{ shop.name }}
            </h1>
          {%- when 'img' -%}
            {%- assign img_url = section.settings.logoImg | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="mx-auto headerLogo-image lazyload js"
                 src="{{ section.settings.logoImg | img_url: '100x' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-sizes="auto"
                 alt="{{ section.settings.logo.alt | default: shop.name }}"
                 data-aspectratio="{{ section.settings.logoImg.aspect_ratio }}">
            <noscript>
              {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
              <img class="mx-auto headerLogo-image"
                   src="{{ section.settings.logoImg | img_url: image_size }}"
                   srcset="{{ section.settings.logoImg | img_url: image_size }} 1x, {{ section.settings.logoImg | img_url: image_size, scale: 2 }} 2x"
                   alt="{{ section.settings.logo.alt | default: shop.name }}">
            </noscript>
          {%- when 'svg' -%}
            <div class="mx-auto" style="max-width: {{ section.settings.logo_max_width }}px;">
              {{ section.settings.svgCode }}
            </div>
          {%- endcase -%}
      </a>
      <nav class="flex-wrap flex-auto hidden text-center md:flex">
        {% include 'site-nav', linklist: section.settings.main_linklist %}
      </nav>
  
      <div class="flex-none order-last w-20 text-center md:flex-auto">

        {%- if cartDrawer == true -%}
          <noscript>
        {%- endif -%}
          <a href="{{ routes.cart_url }}">
            <button class="flex flex-col px-6 py-6 mx-auto md:flex-row focus:ring-0">
              <svg class="flex-none order-1 block w-8 h-8 mx-auto md:w-6 md:ml-2 md:h-6 md:order-2 icon md:inline-block"><use xlink:href="#icon-cart"></use></svg>
              <span class="flex-none order-2 block mx-auto md:order-1 md:inline-block">Cart</span>
              {%- if cart.item_count >= 1 %}
                <div class="absolute p-[0.4rem] bg-red-700 rounded-full top-4 right-4 md:top-5 md:right-5 md:p-[0.35rem]"></div>
              {%- endif %}
            </button>
          </a>
        {%- if cartDrawer == true -%}
          </noscript>
        {%- endif -%}
        

        {%- if cartDrawer == true -%}
          <button class="relative flex flex-col px-6 py-6 mx-auto md:flex-row focus:ring-0 js" @click="cartOpen = true">
            <svg class="flex-none order-1 block w-8 h-8 mx-auto md:w-6 md:ml-2 md:h-6 md:order-2 icon md:inline-block"><use xlink:href="#icon-cart"></use></svg>
            <span class="flex-none order-2 block mx-auto md:order-1 md:inline-block">Cart</span>
            <div x-show="cart.items.length >=1" 
              class="absolute p-[0.4rem] bg-red-700 rounded-full top-4 right-4 md:top-5 md:right-5 md:p-[0.35rem]"
              {%- if cart.item_count == 0 %} x-cloak{%- endif -%}></div>
          </button>
        {%- endif -%}

      </div>
    </div>
  </header>
</div>

{%- for block in section.blocks -%}
  {%- case block.type -%}
    {%- when 'menu' -%}
      {%- render 'mobile-menu', settings: block.settings -%}
    {%- when 'cart' -%}
      {%- render 'cart-drawer', blocksettings: block.settings -%}
  {%- endcase -%}
{%- endfor -%}

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "name": {{ shop.name | json }},
  {% if section.settings.logo %}
    {% assign image_size = section.settings.logo.width | append:'x' %}
    "logo": {{ section.settings.logo | img_url: image_size | prepend: "https:" | json }},
  {% endif %}
  "sameAs": [
    {{ settings.social_twitter_link | json }},
    {{ settings.social_facebook_link | json }},
    {{ settings.social_pinterest_link | json }},
    {{ settings.social_instagram_link | json }},
    {{ settings.social_tumblr_link | json }},
    {{ settings.social_snapchat_link | json }},
    {{ settings.social_youtube_link | json }},
    {{ settings.social_vimeo_link | json }}
  ],
  "url": {{ shop.url | append: page.url | json }}
}
</script>

{% if request.page_type == 'index' %}
  {% assign potential_action_target = shop.url | append: routes.search_url | append: "?q={search_term_string}" %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": {{ shop.name | json }},
      "potentialAction": {
        "@type": "SearchAction",
        "target": {{ potential_action_target | json }},
        "query-input": "required name=search_term_string"
      },
      "url": {{ shop.url | append: page.url | json }}
    }
  </script>
{% endif %}

<!-- header.liquid.end -->

{% schema %}
{
  "name": {
    "cs": "Záhlaví",
    "da": "Overskrift",
    "de": "Titel",
    "en": "Header",
    "es": "Encabezado",
    "fi": "Ylätunniste",
    "fr": "En-tête",
    "it": "Header",
    "ja": "ヘッダー",
    "ko": "헤더",
    "nb": "Header",
    "nl": "Koptekst",
    "pl": "Nagłówek",
    "pt-BR": "Cabeçalho",
    "pt-PT": "Cabeçalho",
    "sv": "Rubrik",
    "th": "ส่วนหัว",
    "tr": "Üstbilgi",
    "vi": "Đầu trang",
    "zh-CN": "标头",
    "zh-TW": "標頭"
  },
  "class": "header-sticky",
  "max_blocks": 2,
  "settings": [
    {
      "type": "paragraph",
      "content": "A Mobile Menu Drawer Block is Required to have the menu show on Mobile."
    },
    {
      "type": "header",
      "content": "Header Logo"
    },
    {
      "type": "radio",
      "id": "logoType",
      "label": "Logo Type",
      "default": "none",
      "options": [
      {
        "value": "none",
        "label": "Text Only"
      },
      {
        "value": "svg",
        "label": "SVG"
      },
      {
        "value": "img",
        "label": "Image"
      }
      ]
    },
    {
      "type": "image_picker",
      "id": "logoImg",
      "label": "Image Logo",
      "info": "Upload Large Image"
    },
    {
      "type": "html",
      "id": "svgCode",
      "label": "SVG Logo Code",
      "info": "Full SVG Element Code"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "label": {
        "cs": "Šířka vlastního loga",
        "da": "Tilpasset logobredde",
        "de": "Logobreite",
        "en": "Custom logo width",
        "es": "Ancho del logo personalizado",
        "fi": "Mukautetun logon leveys",
        "fr": "Largeur personnalisée du logo",
        "it": "Larghezza logo personalizzato",
        "ja": "ロゴの幅をカスタマイズする",
        "ko": "사용자 지정 로고 폭",
        "nb": "Tilpasset logobredde",
        "nl": "Aangepaste logo-breedte",
        "pl": "Niestandardowa szerokość logo",
        "pt-BR": "Largura do logo personalizado",
        "pt-PT": "Largura de logótipo personalizada",
        "sv": "Anpassad logotypsbredd",
        "th": "ความกว้างของโลโก้แบบกำหนดเอง",
        "tr": "Özel logo genişliği",
        "vi": "Chiều rộng logo tùy chỉnh",
        "zh-CN": "自定义 logo 宽度",
        "zh-TW": "自訂商標寬度"
      },
      "min": 50,
      "max": 250,
      "step": 10,
      "unit": "px",
      "default": 100
    },
    {
      "type": "checkbox",
      "id": "sticky",
      "label": "Sticky Header",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "glassMorph",
      "label": "Transparent Header",
      "default": false
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": {
        "cs": "Nabídka",
        "da": "Menu",
        "de": "Menü",
        "en": "Menu",
        "es": "Menú",
        "fi": "Valikko",
        "fr": "Menu",
        "it": "Menu",
        "ja": "メニュー",
        "ko": "메뉴",
        "nb": "Meny",
        "nl": "Menu",
        "pl": "Menu",
        "pt-BR": "Menu",
        "pt-PT": "Menu",
        "sv": "Meny",
        "th": "เมนู",
        "tr": "Menü",
        "vi": "Menu",
        "zh-CN": "菜单",
        "zh-TW": "選單"
      },
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": {
        "cs": "Panel oznámení",
        "da": "Meddelelseslinje",
        "de": "Ankündigungsbereich",
        "en": "Announcement bar",
        "es": "Barra de anuncios",
        "fi": "Ilmoituspalkki",
        "fr": "Barre d'annonces",
        "it": "Barra degli annunci",
        "ja": "告知バー",
        "ko": "공지 표시줄",
        "nb": "Kunngjøringslinje",
        "nl": "Aankondigingsbalk",
        "pl": "Pasek ogłoszeń",
        "pt-BR": "Barra de avisos",
        "pt-PT": "Barra de comunicado",
        "sv": "Meddelandefält",
        "th": "แถบประกาศ",
        "tr": "Duyuru çubuğu",
        "vi": "Thanh thông báo",
        "zh-CN": "公告栏",
        "zh-TW": "公告列"
      }
    },
    {
      "type": "checkbox",
      "id": "message",
      "label": {
        "cs": "Zobrazit oznámení",
        "da": "Vis meddelelse",
        "de": "Ankündigung anzeigen",
        "en": "Show announcement",
        "es": "Mostrar anuncio",
        "fi": "Näytä ilmoitus",
        "fr": "Afficher l'annonce",
        "it": "Mostra annuncio",
        "ja": "告知を表示する",
        "ko": "공지 표시",
        "nb": "Vis kunngjøring",
        "nl": "Aankondiging weergeven",
        "pl": "Pokaż ogłoszenie",
        "pt-BR": "Exibir comunicado",
        "pt-PT": "Mostrar comunicado",
        "sv": "Visa tillkännagivande",
        "th": "แสดงประกาศ",
        "tr": "Duyuruyu göster",
        "vi": "Hiển thị thông báo",
        "zh-CN": "显示公告",
        "zh-TW": "顯示公告"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "home_page_only",
      "label": {
        "cs": "Jen domovská stránka",
        "da": "Kun startside",
        "de": "Nur Startseite",
        "en": "Home page only",
        "es": "Solo página de inicio",
        "fi": "Vain etusivu",
        "fr": "Page d'accueil uniquement",
        "it": "Solo home page",
        "ja": "ホームページのみ",
        "ko": "홈페이지만",
        "nb": "Kun på startsiden",
        "nl": "Alleen homepage",
        "pl": "Tylko strona główna",
        "pt-BR": "Apenas na página inicial",
        "pt-PT": "Apenas a página inicial",
        "sv": "Endast hemsida",
        "th": "หน้าแรกเท่านั้น",
        "tr": "Yalnızca ana sayfa",
        "vi": "Chỉ trang chủ",
        "zh-CN": "仅主页",
        "zh-TW": "僅限首頁"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "message_text",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": {
        "cs": "Tady můžete zadat oznámení",
        "da": "Meddel noget her",
        "de": "Hier etwas ankündigen",
        "en": "Announce something here",
        "es": "Anuncia algo aquí",
        "fi": "Ilmoita jotakin tässä",
        "fr": "Annoncez quelque chose ici",
        "it": "Annuncia qualcosa qui",
        "ja": "ここで告知してください",
        "ko": "여기에 공지하십시오",
        "nb": "Kunngjør noe her",
        "nl": "Kondig hier iets aan",
        "pl": "Ogłoś coś tutaj",
        "pt-BR": "Anuncie algo aqui",
        "pt-PT": "Anunciar algo aqui",
        "sv": "Meddela något här",
        "th": "ประกาศข้อความที่นี่",
        "tr": "Buraya bir duyuru ekleyin",
        "vi": "Thông báo điều gì đó tại đây",
        "zh-CN": "在此处进行公告",
        "zh-TW": "在此公告資訊"
      }
    },
    {
      "type": "url",
      "id": "message_link",
      "label": {
        "cs": "Odkaz",
        "da": "Link",
        "de": "Link",
        "en": "Link",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "tr": "Bağlantı",
        "vi": "Liên kết",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "info": {
        "cs": "Volitelné",
        "da": "Valgfri",
        "de": "Optional",
        "en": "Optional",
        "es": "Opcional",
        "fi": "Valinnainen",
        "fr": "Facultatif",
        "it": "Facoltativo",
        "ja": "オプション",
        "ko": "선택 사항",
        "nb": "Valgfritt",
        "nl": "Optioneel",
        "pl": "Opcjonalnie",
        "pt-BR": "Opcional",
        "pt-PT": "Opcional",
        "sv": "Valfritt",
        "th": "ไม่จำเป็น",
        "tr": "İsteğe bağlı",
        "vi": "Không bắt buộc",
        "zh-CN": "可选",
        "zh-TW": "(選填)"
      }
    },
    {
      "type": "color",
      "id": "color_bg",
      "label": {
        "cs": "Panel",
        "da": "Bjælke",
        "de": "Zeile",
        "en": "Bar",
        "es": "Barra",
        "fi": "Palkki",
        "fr": "Barre",
        "it": "Barra",
        "ja": "バー",
        "ko": "바",
        "nb": "Felt",
        "nl": "Balk",
        "pl": "Pasek",
        "pt-BR": "Barra",
        "pt-PT": "Barra",
        "sv": "Fält",
        "th": "แถบ",
        "tr": "Çubuk",
        "vi": "Thanh",
        "zh-CN": "栏",
        "zh-TW": "橫條"
      },
      "default": "#3a3a3a"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "default": "#ffffff"
    }
  ],
  "blocks": [
    {
      "name": "Mobile Menu Drawer",
      "type": "menu",
      "limit": 1,
      "settings": [
        {
            "type": "checkbox",
            "id": "glass",
            "default": false,
            "label": "Transparent Menu Drawer"
        },
        {
            "type": "header",
            "content": "Search Bar"
        },
        {
            "type": "checkbox",
            "id": "search",
            "default": true,
            "label": "Provide Search Bar"
        },
        {
            "type": "text",
            "id": "placeholder",
            "default": "Enter Search Terms",
            "label": "Searchbox Placeholder Text"
        },
        {
            "type": "link_list",
            "id": "primNav",
            "default": "main-menu",
            "label": "Primary Navigation"
        },
        {
            "type": "link_list",
            "id": "secNav",
            "label": "Secondary Navigation"
        },
        {
            "type": "text",
            "id": "phone",
            "label": "Contact Phone Number"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Support Email"
        }
      ]
    },
    {
      "name": "Cart Drawer",
      "type": "cart",
      "limit": 1,
      "settings": [
          {
              "type": "paragraph",
              "content": "The Cart Drawer requires that 'Use Cart Drawer' be toggled to true in the Theme Settings > Layout Options. With that toggled false, the cart drawer will not be used."
          },
          {
              "type": "checkbox",
              "id": "glass",
              "label": "Transparent Background",
              "default": false
          },
          {
              "type": "header",
              "content": "Free Shipping Threshold",
              "info": "This Free Shipping Threshold is only for indicating to users when they can qualify for free shipping. Free shipping at price thresholds needs to be implemented properly in Shopify's Shipping settings to actually offer free shipping."
          },
          {
              "type": "checkbox",
              "id": "showShippingThreshold",
              "label": "Show Free Shipping Threshold Bar",
              "info": "Set the Free Shipping Threshold in the Theme Settings",
              "default": true
          },
          {
              "type":"checkbox",
              "id":"showShipping",
              "label":"Display Estimated Shipping Cost",
              "default": true
          }
      ]
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "menu",
        "settings": {
          "glass": false
        }
      },
      {
        "type": "cart",
        "settings": {
          "glass": false
        }
      }
    ]
  }
}
{% endschema %}