{%- assign image = section.settings.image -%}
{%- assign deskimage = section.settings.deskimg -%}

<div class="relative w-full p-0 {{section.settings.backdrop}}">
  <picture>
    <source
    srcset="{%- render 'respimg-srcset' with image: image -%}"
    media="(max-width: 767px)"
    width="100vw"
    height="{{ 1 | divided_by: image.aspect_ratio | times: 100 }}vw"
    data-aspectratio="{{ image.aspect_ratio }}"/>
    <source
    srcset="{%- render 'respimg-srcset' with image: deskimage -%}"
    media="(min-width: 768px)"
    width="100vw"
    height="{{ 1 | divided_by: deskimage.aspect_ratio | times: 100 }}vw"
    data-aspectratio="{{ deskimage.aspect_ratio }}"/>
    <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw"
    data-sizes="auto"
    data-aspectratio=""
    class="w-full transition-opacity opacity-0"
    onload="this.classList.remove('opacity-0')"
    />
  </picture>
  <div class="absolute inset-0 {{section.settings.backdrop}}" style="--tw-bg-opacity: 0.{{ section.settings.backdropOpacity }}"></div>
  <div class="absolute inset-0 flex flex-col justify-center max-w-screen-lg p-8 mx-auto overflow-hidden {{section.settings.textShade}}">
    <h1 
      class="{{ section.settings.alignment }} font-sans font-semibold tracking-wide text-5xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl pb-4 md:pb-8
      {%- if section.settings.haveGradient %} bg-gradient-to-tr bg-clip-text text-transparent {{section.settings.fromColor}} {{section.settings.toColor}}{%- endif -%}">
      {{section.settings.h1}}
    </h1>
    <p class="{{ section.settings.alignment }} text-2xl sm:3xl md:text-4xl lg:text-5xl">
      {{section.settings.paragraph}}
    </p>
    {%- if section.settings.cta -%}
      <div class="{{section.settings.alignment }} flex {{ section.settings.buttonDirection }} flex-wrap pt-4 md:pt-8 justify-around min-w-3/4 md:min-w-1/2 text-md md:text-lg lg:text-xl capitalize">
        {%- for link in linklists[section.settings.cta].links -%}
          <a href="{{ link.url }}"
            class="flex-auto px-4 py-2 mr-4 mb-4 tracking-wider text-center rounded-md shadow-md bg-gradient-to-t 
            {%- if forloop.index == 1 %}
              from-gray-200 to-gray-100 text-gray-800 hover:text-gray-100 hover:from-cta-600 hover:to-cta-500
            {%- else %}
              from-gray-200 to-gray-100 text-gray-800 opacity-50 hover:opacity-90
            {%- endif -%}" >
            {{ link.title | escape }}
          </a>
          {%- if forloop.index == 2 -%}
            {% break %}
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}
  </div>
</div>

{% schema %}
{
  "name": {
    "cs": "Obrázek s textovým překryvem",
    "da": "Billede med tekstoverlejring",
    "de": "Foto mit überlegtem Text",
    "en": "Hero Image with Text",
    "es": "Imagen con texto superpuesto",
    "fi": "Kuva päällä olevalla tekstillä",
    "fr": "Image avec calque texte",
    "it": "Immagine con testo",
    "ja": "テキストオーバーレイ付き画像",
    "ko": "텍스트 오버레이 포함 이미지",
    "nb": "Bilde med tekstoverlegg",
    "nl": "Foto met tekstoverlay",
    "pl": "Obraz z nakładką tekstową",
    "pt-BR": "Imagem com texto",
    "pt-PT": "Imagem com sobreposição de texto",
    "sv": "Bild med textöverlagring",
    "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
    "tr": "Metin katmanı içeren görsel",
    "vi": "Hình ảnh có lớp phủ văn bản",
    "zh-CN": "带文本叠加的图片",
    "zh-TW": "附文字疊加層的圖片"
  },
  "class": "w-full index-banner",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "info": "High Resolution, Square or Tall Rectangle",
      "label": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Mobile Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    },
    {
        "type": "image_picker",
        "id": "deskimg",
        "info": "High Resolution, wide rectangle",
        "label": "Desktop Image"
    },
    {
      "type": "select",
      "id": "backdrop",
      "label": "Image Overlay",
      "options": [
        {
          "value": "bg-gray-900",
          "label": "Dark"
        },
        {
          "value": "bg-gray-50",
          "label": "Light"
        },
        {
          "value": "bg-transparent",
          "label": "None"
        }
      ],
      "default": "bg-gray-900"
    },
    {
      "type": "range",
      "id": "backdropOpacity",
      "label": "Overlay Opacity",
      "unit": "%",
      "min": 5,
      "max": 95,
      "step": 5,
      "default": 30
    },
    {
      "type": "select",
      "id": "alignment",
      "label": "Text Alignment",
      "options": [
        {
          "value": "mx-auto text-center",
          "label": "Center"
        },
        {
          "value": "ml-auto text-right",
          "label": "Right"
        },
        {
          "value": "mr-auto text-left",
          "label": "Left"
        }
      ],
      "default": "mr-auto text-left"
    },
    {
      "type": "select",
      "id": "textShade",
      "label": "Text Color Scheme",
      "options": [
        {
          "value": "text-gray-900",
          "label": "Dark"
        },
        {
          "value": "text-gray-50",
          "label": "Light"
        }
      ],
      "default": "text-gray-50"
    },
    {
      "type": "header",
      "content": "H1 Gradient Overlay",
      "info": "These settings control the appearance of the Main H1 Gradient Overlay"
    },
    {
      "type": "checkbox",
      "id": "haveGradient",
      "label": "Overlay Gradient",
      "default": true
    },
    {
      "type": "select",
      "id": "fromColor",
      "label": "First Color",
      "options": [
        {
          "value": "from-primary-300",
          "label": "Primary (Light)",
          "group": "Light"
        },
        {
          "value": "from-secondary-300",
          "label": "Secondary (Light)",
          "group": "Light"
        },
        {
          "value": "from-green-300",
          "label": "Green (Light)",
          "group": "Light"
        },
        {
          "value": "from-primary-600",
          "label": "Primary (Dark)",
          "group": "Dark"
        },
        {
          "value": "from-secondary-600",
          "label": "Secondary (Dark)",
          "group": "Dark"
        },
        {
          "value": "from-green-600",
          "label": "Green (Dark)",
          "group": "Dark"
        }
      ]
    },
    {
      "type": "select",
      "id": "toColor",
      "label": "Last Color",
      "options": [
        {
          "value": "to-primary-300",
          "label": "Primary (Light)",
          "group": "Light"
        },
        {
          "value": "to-secondary-300",
          "label": "Secondary (Light)",
          "group": "Light"
        },
        {
          "value": "to-green-300",
          "label": "Green (Light)",
          "group": "Light"
        },
        {
          "value": "to-primary-600",
          "label": "Primary (Dark)",
          "group": "Dark"
        },
        {
          "value": "to-secondary-600",
          "label": "Secondary (Dark)",
          "group": "Dark"
        },
        {
          "value": "to-green-600",
          "label": "Green (Dark)",
          "group": "Dark"
        }
      ]
    },
    {
      "type": "text",
      "id": "h1",
      "label": "Main Header Text",
      "default": "A Seriously Awesome Theme",
      "placeholder": "Enter Text Here"
    },
    {
      "type": "html",
      "id": "paragraph",
      "label": "Header Supporting Text",
      "default": "Like, REALLY awesome",
      "placeholder": "Enter Text Here",
      "info": "Use '<br>' for a line break"
    },
    {
      "type": "header",
      "content": "Calls to Actions",
      "info": "These settings control the function and appearance of the main banner CTA buttons"
    },
    {
      "type": "link_list",
      "id": "cta",
      "label": "Main CTA Links",
      "info": "A link list of up to 2 links. The first will be presented as the 'primary' cta, with the second link being a 'secondary' cta. Any additional links will be ignored."
    },
    {
      "type": "select",
      "id": "buttonDirection",
      "label": "Side for Primary CTA",
      "options": [
        {
          "value": "flex-row",
          "label": "Left side"
        },
        {
          "value": "flex-row-reverse",
          "label": "Right side"
        }
      ],
      "default": "flex-row"
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Obrázek s textovým překryvem",
        "da": "Billede med tekstoverlejring",
        "de": "Foto mit überlegtem Text",
        "en": "Hero Image with Text Overlay",
        "es": "Imagen con texto superpuesto",
        "fi": "Kuva päällä olevalla tekstillä",
        "fr": "Image avec calque texte",
        "it": "Immagine con testo",
        "ja": "テキストオーバーレイ付き画像",
        "ko": "텍스트 오버레이 포함 이미지",
        "nb": "Bilde med tekstoverlegg",
        "nl": "Foto met tekstoverlay",
        "pl": "Obraz z nakładką tekstową",
        "pt-BR": "Imagem com sobreposição de texto",
        "pt-PT": "Imagem com sobreposição de texto",
        "sv": "Bild med textöverlagring",
        "th": "การวางซ้อนรูปภาพพร้อมข้อความ",
        "tr": "Metin katmanı içeren görsel",
        "vi": "Hình ảnh có lớp phủ văn bản",
        "zh-CN": "带文本叠加的图片",
        "zh-TW": "附文字疊加層的圖片"
      },
      "category": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Hero",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      }
    }
  ]
}
{% endschema %}