<noscript>
    <style>
        #mobileMenu:target {
	      --tw-translate-x: 0px;
        }

        #mobileMenu {
          display: block !important;
          --tw-translate-x: -100%;
          transition-property: all;
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-duration: 150ms;
          transition-duration: 500ms;
          transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        }
    </style>
</noscript>

<div class="fixed top-0 right-0 w-1/6 h-screen bg-black bg-opacity-40 backdrop-filter backdrop-blur-sm z-[15] md:hidden transform"
     x-show="menuOpen"
     style="display: none;"
     x-transition:enter="transition-all duration-500 ease-out"
     x-transition:enter-start="w-full bg-opacity-0 backdrop-blur-0"
     x-transition:leave="transition-all duration-300 ease-in"
     x-transition:leave-end="w-full bg-opacity-0 backdrop-blur-0"></div>

<div id="mobileMenu" class="fixed top-0 bottom-0 left-0 z-20 w-5/6 h-screen pt-12 px-4 border-r shadow-2xl bg-gray-50 transform
            {%- if section.settings.glass %} bg-opacity-60 backdrop-filter backdrop-blur border-opacity-20 md:hidden
            {%- endif -%}"
     x-show="menuOpen"
     style="display:none;"
     x-transition:enter="transition-all duration-500 ease-out"
     x-transition:enter-start="-translate-x-full"
     x-transition:leave="transition-all duration-300 ease-in"
     x-transition:leave-end="-translate-x-full"
     @click.away="menuOpen = false">

    <a href="#">
     <button class="absolute top-0 right-0 p-8" @click.prevent="menuOpen = false">
        <svg class="block w-4 h-4 mx-auto icon"><use xlink:href="#icon-close"></use></svg>
    </button>
    </a>
    <nav class="flex flex-col items-stretch w-full">
        <ul class="divide-y divide-opacity-75">
            {%- for link in linklists[section.settings.primNav].links %}
            <li >
                <a href="{{ link.url }}" {%- if link.current %} aria-current="page"{%- endif -%}>
                    <button class="w-full py-2 pl-8 pr-4 tracking-widest text-xl text-left {%- if link.active %} font-semibold{%- endif -%}">
                        {{ link.title | escape }}
                    </button>
                </a>
            </li>
            {%- endfor %}
        </ul>
    </nav>

    <nav class="flex flex-col items-stretch w-full mt-16">
        <ul>
            {%- if section.settings.secNav %}
            {%- for link in linklists[section.settings.secNav].links %}
            <li>
                <a href="{{ link.url }}" {%- if link.current %} aria-current="page"{%- endif -%}>
                    <button class="w-full py-1 pl-8 pr-4 tracking-wide text-base text-left {%- if link.active %} font-semibold{%- endif -%}">
                        {{ link.title | escape }}
                    </button>
                </a>
            </li>
            {%- endfor %}
            {%- endif -%}
            {%- if section.settings.phone != '' %}
            <li>
                <a href="tel:{{ section.settings.phone | escape }}">
                    <button class="w-full py-1 pl-8 pr-4 tracking-wide text-base text-left {%- if link.active %} font-semibold{%- endif -%}">
                        <svg class="absolute mr-2 transform -translate-x-full icon icon-phone"><use xlink:href="#icon-phone"></use></svg> 
                        <span class="pl-2">{{ section.settings.phone | escape }}</span>
                    </button>
                </a>
            </li>
            {% endif -%}
            {%- if section.settings.email != '' %}
            <li>
                <a href="mailto:{{ section.settings.email | escape }}">
                    <button class="w-full py-1 pl-8 pr-4 tracking-wide text-base text-left {%- if link.active %} font-semibold{%- endif -%}">
                        <svg class="absolute mr-2 transform -translate-x-full icon icon-email"><use xlink:href="#icon-email"></use></svg> 
                        <span class="pl-2">{{ section.settings.email | escape }}</span>
                    </button>
                </a>
            </li>
            {% endif -%}
        </ul>
    </nav>
    
 


</div>

{% schema %}
{
    "name": "Mobile Menu Drawer",
    "settings": [
        {
            "type": "checkbox",
            "id": "glass",
            "default": false,
            "label": "Transparent Menu Drawer"
        },
        {
            "type": "link_list",
            "id": "primNav",
            "default": "main-menu",
            "label": "Primary Navigation"
        },
        {
            "type": "link_list",
            "id": "secNav",
            "label": "Secondary Navigation"
        },
        {
            "type": "text",
            "id": "phone",
            "label": "Contact Phone Number"
        },
        {
            "type": "text",
            "id": "email",
            "label": "Support Email"
        }
    ]
}
{% endschema %}