<!-- 'sections/newsletter.liquid' START -->

<style>
#shopify-section-{{ section.id }} {
    {%- case section.settings.cardStyle -%}
    {%- when 'full' -%}
        width: 100%;
    {%- when 'smCard' -%}
        max-width: 640px;
    {%- when 'mdCard' -%}
        max-width: 768px;
    {%- when 'lgCard' -%}
        max-width: 1024px;
    {%- endcase -%}
	margin-left: auto;
	margin-right: auto;
    border-radius: 0.375rem;
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));
    --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    position: sticky;
    top: 25%;
    z-index: 100;
}
</style>

<div class="relative flex flex-col items-center w-full p-8 mx-auto md:max-w-screen-sm gap-y-2" 
    x-data="emailCaptureSection"
    x-show="show"
    x-cloak>
    <button @click.prevent="show = false" class="absolute right-4 md:-right-4 top-4">close 
        <svg class="inline-block w-4 h-4 mx-auto icon"><use xlink:href="#icon-close"></svg>
    </button>
    <h2 class="flex-auto">{{ section.settings.captureHeader }}</h1>
    <p class="flex-auto">{{ section.settings.captureHtml }}</p>
        <form class="flex flex-col w-full gap-1 md:flex-row"
            x-init="listID = '{{section.settings.listID}}';code='{{section.settings.couponCode}}'">
            <input class="flex-auto w-full px-4 py-2 text-gray-900 placeholder-gray-500 bg-white shadow-md md:w-3/4 focus:ring-cta-600 focus:border-cta-600" x-model="email" type="email" name="email" id="email" placeholder="Enter Email Here" aria-label="Enter Email">
            <button class="px-4 py-2 shadow-md min-w-max bg-gradient-to-t from-cta-700 to-cta-600 text-gray-50" aria-label="Submit Email" @click.prevent="submitEmail()">
                {{ section.settings.captureButton}}
            </button>
        </form>
</div>

<!-- 'sections/newsletter.liquid' END -->


{% schema %}
{
    "name": "Inline Email Capture",
    "settings": [
        {
            "type": "header",
            "content": "Email Tracking Data",
            "info": "Information Necessary for Hooking up your Email Service Provider"
        },
        {
            "type": "select",
            "id": "cardStyle",
            "label": "Newsletter Display Style",
            "default": "full",
            "options": [
                {
                    "value": "full",
                    "label": "Full Width",
                    "group": "Simple"
                },
                {
                    "value": "smCard",
                    "label": "Small Card",
                    "group": "Card"
                },
                {
                    "value": "mdCard",
                    "label": "Medium Card",
                    "group": "Card"
                },
                {
                    "value": "lgCard",
                    "label": "Large Card",
                    "group": "Card"
                }
            ]
        },
        {
            "type": "checkbox",
            "id": "sticky",
            "label": "Sticky Email Capture When Scrolling Past",
            "default": true
        },
        {
            "type": "header",
            "content": "Email Settings"
        },
        {
            "type": "select",
            "id": "emailProvider",
            "label": "Email Service Provider",
            "options": [
                {
                    "value": "klaviyo",
                    "label": "Klaviyo"
                },
                {
                    "value": "activeCampaign",
                    "label": "Active Campaign"
                },
                {
                    "value": "custom",
                    "label": "Other (Use Box Below)"
                }
            ]
        },
        {
            "type": "text",
            "id": "listID",
            "label": "List ID"
        },
        {
            "type": "header",
            "content": "Text Settings"
        },
        {
            "type": "text",
            "id": "captureHeader",
            "label": "Newsletter Header",
            "default": "Join our Newsletter"
        },
        {
            "type": "html",
            "id": "captureHtml",
            "label": "Newsletter Promotional Copy",
            "info": "This accepts HTML elements and styling"
        },
        {
            "type": "text",
            "id": "captureButton",
            "label": "Submit Button Label",
            "default": "Get My Coupon"
        },
        {
            "type": "text",
            "id": "couponCode",
            "label": "Coupon Code",
            "info": "Coupon Code to apply for those who successfully submit their email. Both a Coupon Code and Coupon Value are required for a coupon to apply",
            "placeholder": "get10now"
        },
        {
            "type": "text",
            "id": "couponOffer",
            "label": "Coupon Discount Offer",
            "info": "Value of Coupon. '10% Off', '$20', etc",
            "placeholder": "10% off"
        }
    ],
    "presets": [
        {
            "category": "Promotional",
            "name":"Inline Email Capture"
        }
    ]
}
{% endschema %}